<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- See Links in Video Description to get Necessary Keys -->
		<add key="ConsumerKey" value="h51MckvQ0xF3SGZLHzQ0F0D2d"/>
		<add key="ConsumerSecret" value="2Fs9ihSwxRpzaiNGmUeCiJhnoN0cW9zjptrJA2z6VvAbUzEP8c"/>
		<add key="BearerToken" value="AAAAAAAAAAAAAAAAAAAAABhclQEAAAAAjRHK3PD9%2BYF6vWPrHnZbo%2Btyd38%3Dkl4DXOg8L3zKx47HUHXDPHvTN8waZ9dipmyNRriJGBuEYyEiQR"/>
	</appSettings>
</configuration>